@(field: Field, label: String, placeHolder: String = "", typeName: String = "text", inputWidth: String = "col-sm-10", moreClasses: Seq[String] = Seq.empty, defaultValue: String = "")

@if(field.hasErrors) {
    @util.div("form-group has-error") {
        @bs.label(label, field.name)
        @util.div(inputWidth) {
            @bs.input(field, typeName, placeHolder, moreClasses, defaultValue)
            @bs.helpSpan(field)
        }
    }
} else {
    @util.div("form-group") {
        @bs.label(label, field.name)
        @util.div(inputWidth) {
            @bs.input(field, typeName, placeHolder, moreClasses, defaultValue)
        }
    }
}